* {
    margin: 0;
    padding: 0;
}

:root {
    --background: #F2F4F5;  
    --header: #002538;
    --logo-title-1: #ffffff;
    --logo-title-2: #ffa500;
    --navigation-item: #424242;
    --navigation-item-active: #1f93ff;
    --form-title: #181857;
}

body {
    background-color: var(--background);
    font-family: "Open Sans", sans-serif;
    cursor: default;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    color: var(--header-logo);
    background-color: var(--header);
    width: 100%;
    max-height: 65px;
    padding: 15px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.137);
}

.navbar {
    width: auto;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#art_logo {
    width: 70px;
}

.navbar-brand {
    font-size: 20px;
}

.logo-title-1 {
    color: var(--logo-title-1);
    margin-left: 7px;
    margin-right: 5px;
}

.logo-title-2 {
    margin-left: 7px;
    color: var(--logo-title-2);
    font-size: 12px;
}

.navigation-nav {
    margin: 20px 0px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

.form_title {
    font-size: 16px;
    margin: 10px 0px;
    color: var(--form-title);
}

.navigation-item-ol {
    width: 300px;
    margin: auto;
    list-style: none;
}

li {
    display: inline;
    font-size: 18px;
    margin-right: 15px;
}

.navigation-item {
    padding: 3px;
    font-size: 19px;
    font-weight: 500;
    color: var(--navigation-item);
    text-decoration: none;
    display: inline;
    width: auto;
}

.navigation-item-active {
    color: var(--navigation-item-active);
    border-bottom: 2px solid var(--navigation-item-active);
}

.navigation-item-active:hover {
    color: #1f93ff;
}

.form-control {
    cursor: text;
    font-size: 16px;
    background-color: #3A3C3D;
    color: white;
    padding: 13px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 25px;
    line-height: 1.55;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.103);
}

.form-control::placeholder {
    color: #a0a0a0;
}

.form-control:focus {
    box-shadow: 0px 0px 7px rgb(72, 145, 255);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.219);
}

#description {
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
    height: 200px;
    margin-bottom: 0px;
    resize: none; /* Remove a capacidade de redimensionamento manual */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura máxima */
    max-height: 200px; /* Define a altura máxima */
    min-height: 50px; /* Define a altura mínima */
}

.btn {
    padding: 14px;
    width: 150px;
    margin-right: 10px;
    font-size: 15px;
    background-color: #eeeeee;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.342);
}

.btn-primary {
    background-color: #002437;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.btn-primary:hover {
    background-color: #001724;
}

.btn-light {
    background-color: #b4b4b4;
    color: black;
}

.btn-light:hover {
    background-color: #8f8f8f;
    color: rgb(53, 53, 53);
}