:root {
    --title: #002538;
    --description: gray;
    --author: orange;
}

.post {
    padding: 10px 22px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.171);
    word-wrap: break-word;
}

.post:hover {
    box-shadow: 0px 0px 10px rgba(119, 151, 255, 0.171);
}

.post-info {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: var(--author);
    margin: 15px 0px;
}

.post-title, .post-description {
    cursor: pointer;
}

.post-title {
    font-size: 32px;
    color: var(--title);
    margin: 20px 0px;
}

.post-title:hover {
    text-decoration: underline;
}

.post-description {
    font-size: 16px;
    color: var(--description);
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 25px;
    line-height: 1.55;
    border-radius: 10px;
}

.post-link {
    text-decoration: none;
}