:root {
    --main-background: #FFFFFF;
    --post-info: #ffa500;
    --post-description: #474747;
    --input-comment-label: #F1F2F6;
    --title: #002538;
    --post-comment-section: #F0F2F5;
    --comment-title: #222222;
    --comment-description: #636363;
}

.container-post {
    background-color: var(--main-background);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.171);
    border-radius: 20px;
}

.post {
    word-wrap: break-word;
    padding: 10px 40px 10px 40px;
    min-height: auto;
}

.post-info {
    cursor: pointer;
    font-size: 14px;
    color: var(--post-info);
    margin: 20px 0px 30px 0px;
}

#author {
    font-size: 17px;
    color: var(--post-info);
    font-weight: bold;
}

.post-title {
    cursor: default;
    font-size: 48px;
    color: var(--title);
    margin-top: 25px;
    margin-bottom: 3px;
}

.post-description {
    cursor: text;
    font-size: 15px;
    color: var(--post-description);
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0px;
    line-height: 1.55;
    border-radius: 10px;
    padding-bottom: 20px;
}


.icon-details-post {
    width: 25px;
    opacity: 50%;
}

#timer {
    width: 20px;  
}

.comment-details {
    font-size: 12px;
    color: rgb(182, 182, 182);
}

.comment-section {
    padding: 5px 40px 20px 40px;
    min-height: 100px;
    border-radius: 0px 0px 15px 15px;
}

.input-comment-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.input-comment-label {
    font-size: 15px;
    word-wrap: break-word;
    padding: 13px;
    border-radius: 30px;
    width: 80%;
    background-color: var(--input-comment-label);
    color: #ffffff;
    border: none;
}

.comment-label::placeholder {
    color: rgb(255, 255, 255);
}

.comment-label:focus {
    outline: none;
}

#button-comment-label {
    width: 70px;
    font-size: 16px;
    color: white;
    margin-left: 10px;
    background-color: #1f93ff;  
}

.comment {
    border-radius: 0px 13px;
    padding: 10px 18px;
    background-color: var(--post-comment-section);
    max-width: 70%;
    margin: 15px 20px;
}

.username {
    font-size: 17px;
    color: var(--comment-username);
}

.comment-description {
    cursor: text;
    word-wrap: break-word;
    color: var(--comment-description);
}

.comment-options {
    opacity: 70%;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 14px;
}

.comment-options:hover {
    background-color: rgba(128, 128, 128, 0.555);
}

.comment-options-menu {
    display: none;
    width: 100px;
    border-radius: 5px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.103);
    font-size: 12px;
    background-color: #242526;
    padding: 5px;
    list-style: none;
    margin-left: 10px;
}

.comment-options-menu-actions {
    cursor: pointer;
    bottom: 0;
    color: white;
    font-size: 15px;
    display: block;
    padding: 7px 4px;
    border-radius: 5px;
}

.comment-options-menu-actions:hover {
    background-color: #3A3B3C;
}

.show-menu {
    display: block;
}