:root {
    --main-background: #FFFFFF;
    --post-info: #525252;
    --post-description: #1f1f1f;
    --input-comment-label: #F1F2F6;
    --title: #002538;
    --post-comment-section: #F0F2F5;
    --comment-title: #222222;
    --comment-description: #636363;
}

/* CSS Post */
.container-post {
    background-color: var(--main-background);
    margin-bottom: 70px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.171);
    border-radius: 20px;
}

.post {
    position: relative;
    word-wrap: break-word;
    padding: 10px 40px 10px 40px;
    min-height: auto;
}

.post-description {
    cursor: text;
    font-size: 16px;
    color: var(--post-description);
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0px;
    line-height: 1.55;
    border-radius: 10px;
    padding-bottom: 20px;
}

.post-description-edit {
    background-color: #f0f5fa;
    font-size: 16px;
    color: var(--post-description);
    box-sizing: border-box;
    width: 95%;
    margin: 20px 0px;
    line-height: 1.55;
    border-radius: 10px;
    padding-bottom: 20px;
    padding: 5px;
    resize: none;
    font-family: 'Open Sans', Arial, sans-serif;
}

.post-options {
    position: absolute;
    top: 40px;
    right: 40px;
    opacity: 70%;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
}

.post-options-menu {
    display: none;
    z-index: 1;
    position: absolute;
    right: 40px;
    top: 80px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.199);
    font-size: 12px;
    background-color: #FFFFFF;
    padding: 5px;
    list-style: none;
    margin-left: 10px;
}

.post-title {
    cursor: default;
    width: 90%;
    font-size: 45px;
    color: var(--title);
    margin-top: 25px;
    margin-bottom: 3px;
}

.post-option-wrapper {
    display: flex;
    align-items: center;
}

.post-options-menu-actions {
    cursor: pointer;
    bottom: 0;
    color: rgb(0, 0, 0);
    font-size: 15px;
    display: block;
    padding: 7px 4px;
    border-radius: 5px;
}

.post-options-menu-actions h3 {
    font-size: 18px;
}

.post-options-menu-actions p {
    font-size: 12px;
    color: gray;
}

.post-options-menu-actions:hover {
    background-color: #e9e9ee;
}

.post-info {
    cursor: pointer;
    font-size: 13px;
    color: var(--post-info);
    margin: 20px 0px 30px 0px;
}

.edit-form-post {
    display: none;
    align-items: center;
}

#author {
    color: #ffa500;
    font-weight: bold;
    margin-right: 5px;
}


.icon-details-post {
    width: 25px;
    opacity: 50%;
}

#timer {
    width: 20px;
}

/* CSS Comment */
.comment-details {
    font-size: 12px;
    color: rgb(182, 182, 182);
}

.comment-section {
    padding: 5px 40px 20px 40px;
    min-height: 100px;
    border-radius: 0px 0px 15px 15px;
}

.input-comment-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.input-comment-label {
    font-size: 15px;
    word-wrap: break-word;
    padding: 13px;
    border-radius: 30px;
    width: 80%;
    background-color: var(--input-comment-label);
    color: #242424;
    border: none;
}

.comment-label::placeholder {
    color: #a0a0a0;
}

.comment-label:focus-visible {
    outline: none;
    border: none;
}

#button-comment-label {
    width: 70px;
    font-size: 16px;
    color: white;
    margin-left: 10px;
    background-color: #1f93ff;
}

.comment {
    border-radius: 0px 13px;
    padding: 5px 13px 0px 13px;
    background-color: var(--post-comment-section);
    max-width: 70%;
    margin: 15px 20px;
}

.comment-info {
    display: flex;
    align-items: center;
}

.username {
    padding: 5px;
    font-size: 17px;
    color: var(--comment-username);
}

.comment-description {
    padding: 5px;
    font-size: 16px;
    cursor: text;
    word-wrap: break-word;
    color: var(--comment-description);
}

.comment-options {
    opacity: 70%;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 14px;
}

.comment-options:hover {
    background-color: rgba(128, 128, 128, 0.555);
}

.comment-options-menu {
    display: none;
    width: 100px;
    border-radius: 5px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.103);
    font-size: 12px;
    background-color: #FFFFFF;
    padding: 5px;
    list-style: none;
    margin-left: 10px;
}

.comment-options-menu-actions {
    cursor: pointer;
    font-weight: bold;
    bottom: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    display: block;
    padding: 7px 4px;
    border-radius: 5px;
}

.comment-options-menu-actions:hover {
    background-color: #e9e9ee;
}

.show-menu {
    display: block;
}

.comment-content {
    height: auto;
}

.comment-edit {
    display: none;
    font-family: 'Open Sans';
    font-size: 16px;
    color: rgb(58, 58, 58);
    word-wrap: break-word;
    border: none;
    min-height: 50px;
    background-color: var(--input-comment-label);
    min-width: 500px;
    resize: none;
    margin-bottom: 15px;
    outline: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.comment-edit:focus {
    border-color: rgba(0, 0, 0, 0.253);
}

.comment-container-message {
    position: relative;
}

.post-send-edit {
    display: block;
    background-color: transparent;
    border: none;
    width: 30px;
    margin-left: auto;
}

.comment-send-edit {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 5px;
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.deleteButton {
    font-family: 'Open Sans';
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.comment-details a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.comment-details a:hover {
    text-decoration: underline;
}

.comment-wrapper a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.comment-wrapper a:hover {
    text-decoration: underline;
}

.comment-options-menu-actions a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.comment-options-menu-actions a:hover {
    text-decoration: underline;
}