<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Artesanal Investimentos</title>

    <link rel="stylesheet" href="/css/feed.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/img/artesanal_logo.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="navbar navbar-light bg-light">
            <img src="/img/artesanal_logo.png" id="art_logo" alt="">
            <a th:href="@{https://www.artesanalinvestimentos.com.br}" target="_blank" style="text-decoration: none;">
                <div class="navbar-brand logo-title-1">Artesanal</div>
                <div class="navbar-brand logo-title-2">Blog</div>
            </a>
        </div>
    </header>
    <main>
        <nav class="navigation-nav">
            <ol class="navigation-item-ol">
                <li class="navigation-item-li"><a href="#" class="navigation-item navigation-item-active">Feed</a></li>
                <li class="navigation-item-li"><a th:href="@{/new-post}" class="navigation-item">New Post</a></li>
            </ol>
        </nav>

        <section th:each="post : ${posts}" class="post">
            <a th:href="@{'/post/' + ${post.id}}" style="text-decoration: none;">
                <p th:text="${post.author}" class="post-info"></p>
                <h1 th:text="${post.title}" class="post-title"></h1>
                <p th:text="${post.description}" class="post-description"></p>
            </a>
        </section>
    </main>
    <footer>
        <p id="footer-paragraph">Site criado por <a href="https://github.com/macieldearaujo" target="_blank">Douglas Maciel de Araújo</a> para a <a href="https://www.artesanalinvestimentos.com.br/" target="_blank">Artesanal Investimentos</a></p>
    </footer>
</body>
</html>