<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Artesanal Investimentos</title>

    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/newPost.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/img/artesanal_logo.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="navbar navbar-light bg-light">
            <img src="/img/artesanal_logo.png" id="art_logo" alt="">
            <a th:href="@{https://www.artesanalinvestimentos.com.br}" target="_blank" style="text-decoration: none;">
                <div class="navbar-brand logo-title-1">Artesanal</div>
                <div class="navbar-brand logo-title-2">Blog</div>
            </a>
        </div>
    </header>
    <main>
        <nav class="navegation">
            <ol class="breadcrumb">
                <li><a th:href="@{/}" class="breadcrumb-item">Feed</a></li>
                <li><a href="#" class="breadcrumb-item active">New Post</a></li>
            </ol>
        </nav>

        <div>
            <div class="container">
                <h1 class="title">Create your post</h1>
                <form method="post" action="/new-post" th:object="${post}">
                    <div class="form-group">
                        <h2 class="form_title">Title</h2>
                        <input type="text" class="form-control" name="title" placeholder="Enter the title" required>
                    </div>
                    <div class="form-group">
                        <h2 class="form_title">Author</h2>
                        <input type="text" class="form-control" name="author" placeholder="Enter the autor" required>
                    </div>
                    <h2 class="form_title">Description</h2>
                    <textarea id="description" type="text" class="form-control" name="description"
                        placeholder="Enter the description" required></textarea>
                    <p class="form-text text-muted">(*) Required fields</p>
                    <hr style="opacity: 10%; margin: 20px 0px;">
                    <input type="file" name="file" accept="image/*" multiple="multiple" id="upload-btn">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Publish</button>
            <a th:href="@{/}" class="btn btn-light" role="button" style="margin-top: 10px;">Cancel</a>
            </form>
        </div>
    </main>
</body>

</html>