<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Artesanal Investimentos</title>

    <link rel="stylesheet" href="/css/postView.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/img/artesanal_logo.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="navbar navbar-light bg-light">
            <img src="/img/artesanal_logo.png" id="art_logo" alt="">
            <a th:href="@{https://www.artesanalinvestimentos.com.br}" target="_blank" style="text-decoration: none;">
                <div class="navbar-brand logo-title-1">Artesanal</div>
                <div class="navbar-brand logo-title-2">Blog</div>
            </a>
        </div>
    </header>
    <main>
        <section class="container">
            <nav class="navigation-nav">
                <ol class="navigation-item-ol">
                    <li class="navigation-item-li"><a th:href="@{/}"
                            class="navigation-item navigation-item-active">Feed</a></li>
                    <li class="navigation-item-li"><a th:href="@{/new-post}" class="navigation-item">New Post</a></li>
                </ol>
            </nav>

            <section class="container-post">
                <section class="post">
                    <div class="post-option-wrapper">
                        <h1 th:text="${post.title}" class="post-title"></h1>
                        <img src="/img/icon_three_dots.png" class="post-options">
                        <form method="post" class="post-options-menu" th:action="@{'/post/' + ${post.id}}">
                            <ul>
                                <li class="post-options-menu-actions edit-description">
                                    <h3>Edit your description</h3>
                                    <p>Click here to edit your description</p>
                                </li>
                                <input type="hidden" name="action" value="delete">
                            </ul>
                        </form>
                    </div>
                    <section class="post-details">
                        <span th:text="${post.author}" class="post-info" id="author"></span>
                        <span th:text="${post.timeAgo}" class="post-info"></span>
                        <img src="/img/icon_earth.png" alt="user_icon" class="icon-details-post" style="width: 20px;">
                    </section>
                    <p th:text="${post.description}" class="post-description"></p>
                    <div class="edit-form-post">
                        <textarea name="" class="post-description-edit"></textarea>
                        <button type="submit" style="cursor: pointer;" class="post-send-edit"><img
                                src="/img/icon_send.png"></button>
                    </div>
                    <p th:text="${post.commentsNumber}" class="comment-details"></p>
                </section>
                <section class="comment-section">
                    <form method="post" th:action="@{/post/{id}(id=${id})}" th:object="${addComment}">
                        <div class="input-comment-wrapper">
                            <img src="/img/icon_user.png" alt="" style="width: 30px; margin-right: 20px;">
                            <input type="text" name="description" class="input-comment-label"
                                placeholder="Type your comment" required>
                            <button type="submit" class="btn" id="button-comment-label">Send</button>
                        </div>
                    </form>
                    <hr style="opacity: 10%; margin-top: 7px;">
                    <div th:each="comment : ${comment}" class="edit-comment-form comment-wrapper">
                        <img src="/img/icon_user.png" alt="" style="width: 35px;">
                        <form method="post" th:object="${editComment}" class="comment">
                            <div class="comment-container-message">
                                <h3 class="username">User</h3>
                                <div class="comment-content">
                                    <p th:text="${comment.description}" class="comment-description"></p>
                                    <input type="hidden" name="commentId" th:value="${comment.Id}">
                                    <textarea type="text" name="description"
                                        class="comment-edit comment-description"></textarea>
                                    <button type="submit" style="cursor: pointer;"><img src="/img/icon_send.png"
                                            class="comment-send-edit"></button>
                                </div>
                            </div>
                        </form>
                        <img src="/img/icon_three_dots.png" alt="" class="comment-options">
                        <form method="post" class="comment-options-menu"
                            th:action="@{'/post/' + ${post.id} + '/comment/' + ${comment.id} + '/delete'}">
                            <ul>
                                <li class="comment-options-menu-actions">Editar</li>
                                <hr style="opacity: 10%">
                                <input type="hidden" name="action" value="delete">
                                <li class="comment-options-menu-actions"><button type="submit"
                                        class="deleteButton">Excluir</button></li>
                            </ul>
                        </form>
                    </div>
                </section>
            </section>
    </main>
    <footer>
        <p id="footer-paragraph">Site criado por <a href="https://github.com/macieldearaujo" target="_blank">Douglas
                Maciel de Araújo</a> para a <a href="https://www.artesanalinvestimentos.com.br/"
                target="_blank">Artesanal Investimentos</a></p>
    </footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const commentOptions = document.querySelectorAll('.comment-options');
        const commentOptionsMenus = document.querySelectorAll('.comment-options-menu');

        const postOptions = document.querySelectorAll('.post-options');
        const postOptionsMenus = document.querySelectorAll('.post-options-menu');

        // Close and open comment options
        commentOptions.forEach((option, i) => {
            option.addEventListener('click', () => {
                const commentOptionsMenu = option.nextElementSibling;

                commentOptionsMenus.forEach(menu => {
                    if (menu !== commentOptionsMenu) {
                        menu.classList.remove('show-menu');
                    }
                })
                commentOptionsMenu.classList.toggle('show-menu');
            });
        });

        // Close and open post options
        postOptions.forEach((option, i) => {
            option.addEventListener('click', () => {
                const postOptionsMenu = option.nextElementSibling;

                postOptionsMenus.forEach(menu => {
                    if (menu !== postOptionsMenu) {
                        menu.classList.remove('show-menu');
                    }
                })
                postOptionsMenu.classList.toggle('show-menu');
            });
        });

    });


    // Post edit
    const paragraph = document.querySelector('.post-description');
    const editButtonPost = document.querySelector('.edit-description');
    const editInput = document.querySelector('.post-description-edit');
    const postOptions = document.querySelector('.post-options-menu');
    const editPost = document.querySelector('.edit-form-post');

    editButtonPost.addEventListener('click', () => {
        paragraph.style.display = 'none';
        editInput.style.display = 'block';
        editInput.value = paragraph.textContent;
        editPost.style.display = 'flex';
        postOptions.classList.remove('show-menu')
        editInput.focus();
    })

    // Comment edit
    const editCommentForm = document.querySelectorAll('.comment-wrapper');
    editCommentForm.forEach((item, i) => {
        const paragraph = item.querySelector('.comment-description');
        const editInput = item.querySelector('.comment-edit');
        const editButtonComment = item.querySelector('.comment-options-menu-actions');
        const sendButton = item.querySelector('.comment-send-edit');
        const optionsMenu = item.querySelector('.comment-options-menu');

        editButtonComment.addEventListener('click', () => {
            editCommentForm.forEach((otherItem) => {
                if (otherItem !== item) {
                    otherItem.querySelector('.comment-edit').style.display = 'none';
                    otherItem.querySelector('.comment-description').style.display = 'block';
                    otherItem.querySelector('.comment-options-menu').classList.remove('show-menu');
                    otherItem.querySelector('.comment-send-edit').style.display = 'none';
                }
            });
            const editOptions = document.querySelector('.comment-options-menu');
            editOptions.classList.remove('show-menu');
            editInput.style.display = 'block';
            editInput.focus();
            sendButton.style.display = 'block'
            paragraph.style.display = 'none';
            optionsMenu.style.display = 'none';
            editInput.value = paragraph.textContent;
        })
    })

    // Increase the textarea height when you type
    const textarea = document.querySelector('.post-description-edit');
    textarea.addEventListener('input', function () {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    });
    function adjustTextareaHeight(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 'px';
    }
</script>


</html>